<div class="outer-container">
  <div class="blue-container">
    <div class="blue-inner-container">
      <div>
        <img src="../assets/images/building.svg" >
      </div>
      <div class="blue-text">
        <h3>Find Your Accomodation</h3>
        <p>This is an online platform that helps other to find accommodation</p>
      </div>
      
    </div>

  </div>
  <div class="white-container">
    <div class="cg-logo" >
      
      <img src="../assets/images/CG-Logo_GoldNavy 1.png">
      <h1 class="logo-heading">Let's Find Your Accomodation</h1>
    </div>


  </div>
</div>